{% extends 'quotes/base.html' %}
{% load extract %}
{% block content %}

<div class="row">
    <div class="col-md-8">

        <div class="author" itemscope="" itemtype="http://schema.org/CreativeWork">
            <span class="text" itemprop="text">
                <h1>{{author.fullname}}</h1>
            </span>
            <p>{{ author.born_date }}</p>
            <p>{{ author.born_location }}</p>
            <p>{{ author.description }}</p>
        </div>
        <!-- Другие данные автора, которые вы хотите отобразить -->
    </div>
</div>

{% endblock %}